#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

build:
	dh build

override_dh_install:
	dh_install
	./debian/lwr-dist-dpkg
	mkdir -p debian/luwrain/usr/bin
	ln -s /usr/share/luwrain/bin/luwrain debian/luwrain/usr/bin/luwrain
	ln -s /usr/share/luwrain/bin/lwr debian/luwrain/usr/bin/lwr

binary: luwrain/target/apidocs/index.html
	dh binary
