#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

build:
	dh build
	cd base/scripts; ./lwr-prepare
	cd base/scripts; ./lwr-build

override_dh_install:
	dh_install
	./base/scripts/lwr-dist-dpkg

binary: luwrain/jar/luwrain.jar
	dh binary
